@import "variables";
@import "reset";

a {
    text-decoration: none;
    &:hover {
        color: $accent-color;
        font-weight: bold;
    }
}

div#container {
    display: flex;
    flex-direction: column;
    margin: $general-margin;
}

div#content {
    display: inherit;
    section {
        display: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw;
    }
}

article {
    flex: 33.33%;
    div {
        margin: $general-margin;
        border: 1px solid $grey-foreground-color;
        img {
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

header {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: inherit;
    align-items: center;
    border-top: 1px solid $dark-foreground-color;
    border-bottom: 1px solid $dark-foreground-color;
    height: 40px;
}

nav ul {
    padding-left: calc ($general-padding /2);
}

nav li {
    display: inline-block;
    width: 5em;
    margin-right: $general-margin;
}

aside {
    padding: $general-padding;
    padding-top: calc ($general-padding * 1.5); 
}

footer {
    background-color:$dark-background-color;
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer p {
    color:$light-foreground-color;
}

